body {
    /* colors to use in the app. Defined in the body to be used anywhere */
    --background-dark: #1F2937;
    --background-quote: #E5E7EB;
    --button-color: #3882F6;
    --button-color-hover: #5291f6;

    --text-main-color: #F9FAF8;
    --text-logo-color: #F9FAF8;
    --text-secondary-color: #E5E7EB;
    --text-quote-color: #1F2937;
}

* {
    /* Font is Roboto universally, and medium weight unless otherwise specified. */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /* font-optical-sizing: auto; */
    /* font-style: normal; */
    padding: 0;
    margin: 0;
}

.header-section {
    background-color: var(--background-dark);
}
  
.header-content {
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 40px; */
}
  
.logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-logo-color);
}
  
.nav {
    display: flex;
    gap: 16px;
}
  
.nav a {
    color: var(--text-secondary-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
  
.nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--text-main-color);
    margin-bottom: 4px;
}

h2 {
    font-size: 18px;
    color: var(--text-secondary-color);
    margin-bottom: 36px;
}

section {
    min-height: 30vh;
    width: 100%;
}

.logo-text {
    font-size: 24px;
    color: var(--text-logo-color);
}

/* Some accessible button UX such as cursor: pointer and changed background color on hover */
button {
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: var(--button-color);
    color: var(--text-main-color);
    padding: 8px 40px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-color-hover);
}

#hero-section {
    background-color: var(--background-dark);
}

.section-content {
    /* put all the content for each section in the center with some padding: */
    width: 60%;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}

.hero-text {
    flex: 1;
}

.hero-img {
    flex: 1;
    max-width: 50%;
    object-fit: contain;
}

#random-section {
    padding: 60px 100px;
    text-align: center;
    background-color: white;
}
  
.section-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1f2937;
}
  
.info-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: nowrap;
    max-width: none;
    margin: 0 auto;
    text-align: center;
}
  
.info-card {
    max-width: 150px;
    width: 150px;
}
  
.card-img {
    width: 150px;
    height: 150px;
    background-color: #e5e7eb;
    border-radius: 12px;
    margin: 0 auto 15px auto;
}
  
.info-card p {
    font-size: 14px;
    color: #4b5563;
}
  
#quote-section {
    background-color: #e5e7eb;
    padding: 60px 100px;
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: center;
}
  
