html { 
    scroll-behavior: smooth; 
}

body {
    /* colors to use in the app. Defined in the body to be used anywhere */
    --background-dark: #1F2937;
    --background-quote: #E5E7EB;
    --button-color: #3882F6;
    --button-color-hover: #5291f6;

    --text-main-color: #F9FAF8;
    --text-logo-color: #F9FAF8;
    --text-secondary-color: #E5E7EB;
    --text-quote-color: #1F2937;

    --header-height: 64px;
    --footer-height: 64px;
}

* {
    /* Font is Roboto universally, and medium weight unless otherwise specified. */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /* font-optical-sizing: auto; */
    /* font-style: normal; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    position: relative;
}

header {
    display: flex;
    background-color: var(--background-dark);
    min-height: var(--header-height);
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-logo-color);
}
  
.nav {
    display: flex;
    gap: 16px;
}
  
.nav a {
    color: var(--text-secondary-color);
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
    font-weight: 300;
}
  
.nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--text-main-color);
    margin-bottom: 4px;
}

h2 {
    font-size: 18px;
    color: var(--text-secondary-color);
    margin-bottom: 36px;
}

a {
    color: var(--text-main-color);
    text-decoration: none;
}

section, header {
    width: 100%;
    padding: 0 18%;
    margin: 0 auto;
}

section {
    padding: 40px 18%;
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height))
}

.logo-text {
    font-size: 24px;
    color: var(--text-logo-color);
}

/* Some accessible button UX such as cursor: pointer and changed background color on hover */
button {
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: var(--button-color);
    color: var(--text-main-color);
    padding: 8px 40px;
    cursor: pointer;
    min-width: 140px;
    margin: 24px 0px;
}

button:hover {
    background-color: var(--button-color-hover);
}

#hero-section {
    background-color: var(--background-dark);
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 48px 0; */
}

.hero-content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}

.hero-text {
    flex: 1;
}

.hero-text h2 {
    font-weight: 200;
}

.hero-img {
    flex: 1;
}

.hero-img img {
    width: 100%;
    object-fit: contain;
}

#random-section {
    padding: 60px 0;
    text-align: center;
    background-color: white;
}
  
.section-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1f2937;
}
  
.info-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: nowrap;
    max-width: none;
    margin: 0 auto;
    text-align: center;
}
  
.info-card {
    max-width: 150px;
    width: 150px;
}
  
.card-img {
    width: 150px;
    height: 150px;
    background-color: #e5e7eb;
    border-radius: 12px;
    margin: 0 auto 15px auto;
    object-fit: cover;
}
  
.info-card figcaption {
    font-size: 14px;
    color: #4b5563;
}
  
#quote-section {
    background-color: #e5e7eb;
    padding: 60px 0;
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: center;
}

.quote-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font: italic;
    color: #1F2937;
}

.quote-author {
    font-weight: 600;
    color: #1F2937;
    padding-left: 57%;
}

#cta-section {
    display: flex;
    justify-content: center;
    align-items: center;

     margin: 60px auto;
    background-color: var(--button-color);
    display: flex;
    border-radius: 12px;
    width: 60%;
    padding: 60px 24px;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
  
.cta-card {
    margin: 60px auto;
    background-color: var(--button-color);
    display: flex;
    border-radius: 12px;
    width: 60%;
    padding: 60px 24px;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.cta-text {
    color: var(--text-main-color);
}

h3.cta-text {
    margin-bottom: 16px;
}

p.cta-text {
    font-weight: 200;
}

.cta-card button {
    border: 2px solid;
    height: fit-content;
}

footer {
    background-color: var(--background-dark);
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: var(--text-main-color);
    font-weight: 100;
}

.secondary-link {
    color: var(--text-secondary-color);
}

.back-to-top {
    border-radius: 100px;
    display: block;
    width: 48px;
    min-width: 0;
    height: 48px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.20);
    position: fixed;
    right: 40px;
    bottom: 40px;
    padding: 0;
    margin: 0;
    background-color: var(--background-dark);
}

.back-to-top img {
    width: 24px;
    height: 24px;
}

.back-to-top:hover {
    background-color: #3a4c65;
}

/* ===== ABOUT PAGE ===== */

.about-title {
    color: var(--background-dark);
    margin-bottom: 20px;
}

.about-card img {
    flex: 1;
    object-fit: cover;
    aspect-ratio: 1;
    max-width: 33%;
    width: clamp(150px, 33%, 350px);
}

.future-card img {
    flex: 1;
    object-fit: cover;
    aspect-ratio: 16/9;
    max-width: 33%;
    width: clamp(150px, 33%, 350px);
}

figcaption {
    flex: 2;
}

.about-card, .future-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    padding: 20px 40px;
    border-radius: 16px;
    background-color: var(--text-main-color);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.about-p {
    line-height: 24px;
    margin-bottom: 12px;
}

figcaption h2 {
    color: var(--background-dark);
    font-size: 24px;
    font-weight: bold;
}

#about-cta-section {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#about-cta-section * {
    margin-bottom: 24px;
}

/* #about-cta-section button {
    display: block;
} */

.muted-link {
    color: rgba(0,0,0, 0.3);
    padding: 4px 0;
}

/* responsive design */
@media only screen and (max-width: 738px) {
  figure {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  #what-css-section figure {
    flex-direction: column-reverse;
  }

  figure img {
    max-width: 100%;
    height: clamp(150px, 33%, 350px);
    height: auto;
  }

  figure figcaption {
    flex: 1;
  }

  #cta-section {
    flex-direction: column;
  }

  #hero-section {
    flex-direction: column;
  }

  .cta-text {
    text-align: center;
  }

  .info-cards {
    flex-wrap: wrap;
    align-items: center;
  }

  .info-card {
    max-width: none;
    flex: 40%;
  }
}

.future-title {
    color: var(--background-dark);
    margin-bottom: 20px;
}

.future-p {
    line-height: 24px;
    margin-bottom: 12px;
}

.future-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

/* .future-card {
    padding-top: 20px;
    padding-bottom: 20px;
} */
